
html,
body {
    height: 100%;
    width: 100%;
    font-family: "chaparral-pro",sans-serif;
    color: #555;
}
/* fix bs3 horizontal scrollbar bug */
.row {
    margin: 0;
    padding: 0
}
h1 {
    font-size: 45px;
}

p,
.section ul {
    font-family: "chaparral-pro",sans-serif;
    font-size: 23px;
    margin-bottom: 40px;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.icon-bar {
    background-color: #fff;
}
.scroll-down a,
.scroll-top a {
    color: #ffffff;
}
.scroll-down {
    position: fixed;
    bottom: 20%;
    right: 0%;
    color: #f9f9f9;
}
.scroll-top {
    background-color: #33ee67;
}

.purchase-ticket {
    font-size: 18px;
    border-width: 2px;
    border-color: #eeeeee;
    border-radius: 0;
    padding: 25px;
    background-color: transparent;
    color: #ffffff;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.purchase-ticket:hover {
    border-color: transparent;
    background-color: #36a64f;
    color: #fff;
}
.navbar a {
    color: #fff;
}
.navbar-bold.affix {
    background-color: #33ee67;
}
.navbar-bold {
    background-color: transparent;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-bold li a:hover,
.navbar-bold li.active {
    background: none;
}

.navbar-bold li.active {
  font-weight: bold;
}

.vert {
    vertical-align: middle;
    width: 100%;
    padding-top: 4%;
}

.header {
  text-align: center;
}

.header.vert {
  padding-top: 10%;
}

.header h1 {
    font-size: 74px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-bottom: 40px;
    font-family: "brandon-grotesque", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}
.header .info {
    color: #fff;
    font-family: "chaparral-pro",sans-serif;
    font-size: 23px;
    margin-bottom: 40px;
}

.header {
    height: 100%;
    background: #fff url('../../assets/images/hero-bg.jpg') no-repeat fixed;
    background-size: cover;
}

.section {
    padding: 120px 0;
}

.about-project {
  background: #eee;
}

.about-ethan {
  background: #36a64f;
}

.speaker img {
  margin: 40px 0;
}

.section-bright p,
.section-bright h2{
  color: #fff;
}

.section h2 {
    font-size: 48px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}


.quick-hitters {
    color: #ffffff;
    padding-top: 7%;
    width: 100%;
    background: #fff url('../../assets/images/hero-bg.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quick-hitters ul {
  color: #fff;
  margin: 40px 0 60px 0;
}

.quick-hitters li {
  margin-bottom: 20px;
}

.featurette {
    background: #545455;
    padding: 50px 0;
    color: #ffffff;
}
.featurette-item {
    margin-bottom: 15px;
}
.featurette-item > i {
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
}
.featurette-item > i:hover {
    font-size: 68px;
}
.what-to-expect {
    background: #439fe0;

}
.gallery {
    padding: 50px 0;
}
.call-to-action {
    background: #eeeeee;
    padding: 50px 0;
}
.call-to-action .btn {
    margin: 10px;
}
footer {
    padding: 40px 0;
    border-top: 1px solid #ddd;
}

footer img {
  width: 180px;
}

.speaker-info {
    color: #999;
}
